<div id="description" class="col-md-4">
  <form>
    <fieldset class="form-group">
      <div class="form-group">
        <label for="dataset-select-left">データセット(左・赤)</label>
        <select class="form-control" id="dataset-select-left" name="dataset-select-left">
          <option value="">選択してください</option>
        </select>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="left-heading">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" href="#left-collapse" aria-expanded="false" aria-controls="left-collapse">
              左グラフの設定変更
            </a>
          </h4>
        </div>
        <div id="left-collapse" class="panel-collapse collapse" role="tabpanel" aria-labelledby="left-heading">
          <div class="panel-body">
            <div class="form-group">
              <label for="dataset-left-data-min">データの最小値</label>
              <input type="number" class="form-control" id="dataset-left-data-min" name="dataset-left-min" value="0" readonly>
            </div>
            <div class="form-group">
              <label for="dataset-left-data-max">データの最大値</label>
              <input type="number" class="form-control" id="dataset-left-data-max" name="dataset-left-max" value="0" readonly>
            </div>
            <div class="form-group">
              <label for="dataset-left-domain-min">グラフの最小値</label>
              <input type="number" class="form-control" id="dataset-left-domain-min" name="dataset-left-domain-min" value="0">
            </div>
            <div class="form-group">
              <label for="dataset-left-domain-max">グラフの最大値</label>
              <input type="number" class="form-control" id="dataset-left-domain-max" name="dataset-left-domain-max" value="0">
            </div>
          </div>
        </div>
      </div>
    </fieldset>

    <fieldset class="form-group">
      <div class="form-group">
        <label for="dataset-select-right">データセット(右・黄)</label>
        <select class="form-control" id="dataset-select-right" name="dataset-select-right">
          <option value="">選択してください</option>
        </select>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="right-heading">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" href="#right-collapse" aria-expanded="false" aria-controls="right-collapse">
              左グラフの設定変更
            </a>
          </h4>
        </div>
        <div id="right-collapse" class="panel-collapse collapse" role="tabpanel" aria-labelledby="right-heading">
          <div class="panel-body">
            <div class="form-group">
              <label for="dataset-right-data-min">データの最小値</label>
              <input type="number" class="form-control" id="dataset-right-data-min" name="dataset-right-min" value="0" readonly>
            </div>
            <div class="form-group">
              <label for="dataset-right-data-max">データの最大値</label>
              <input type="number" class="form-control" id="dataset-right-data-max" name="dataset-right-max" value="0" readonly>
            </div>
            <div class="form-group">
              <label for="dataset-right-domain-min">グラフの最小値</label>
              <input type="number" class="form-control" id="dataset-right-domain-min" name="dataset-right-domain-min" value="0">
            </div>
            <div class="form-group">
              <label for="dataset-right-domain-max">グラフの最大値</label>
              <input type="number" class="form-control" id="dataset-right-domain-max" name="dataset-right-domain-max" value="0">
            </div>
          </div>
        </div>
      </div>
    </fieldset>
  </form>

  <!-- Button trigger modal -->
  <button id="display-correlation" type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#correlation">
    2つのデータを比較
  </button>

  <!-- Modal -->
  <div class="modal fade" id="correlation" tabindex="-1" role="dialog" aria-labelledby="crrelation-label">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="crrelation-label">散布図の表示</h4>
        </div>
        <div class="modal-body">
          <div id="correlation-coefficient"></div>
          <div id="scatter-chart" style="height:500px;"></div>
          <div id="tooltip" class="hidden"><p id="tooltip-text">市町村<br>x軸<br>y軸</p></div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>
        </div>
      </div>
    </div>
  </div>
</div>
