<div id="description" class="col-md-4">
  <form>
    <lable>データセット(左・赤)
      <select class="form-control" id="dataset_select_0" name="dataset_select_0">
        <option value="">選択してください</option>
      </select>
    </lable>

    <lable>データセット(右・黄)
      <select class="form-control" id="dataset_select_1" name="dataset_select_1">
        <option value="">選択してください</option>
      </select>
    </lable>
  </form>

  <!-- Button trigger modal -->
  <button id="displayScatterChart" type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
    散布図の表示
  </button>

  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">散布図の表示</h4>
        </div>
        <div class="modal-body">
          <div id="correlation-coefficient"></div>
          <div id="scatter-chart" style="height:400px;"></div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>
          <button type="button" class="btn btn-primary">適用</button>
        </div>
      </div>
    </div>
  </div>

  <script src="/assets/flotr2.min.js"></script>

</div>
