<div id="description" class="col-md-4">
  <lable>データセット(左・赤)
  <select class="form-control" id="dataset_select_0" name="dataset_select_0">
    <option value="">選択してください</option>
  </select>
  </lable>

  <lable>データセット(右・黄)
  <select class="form-control" id="dataset_select_1" name="dataset_select_1">
    <option value="">選択してください</option>
  </select>
  </lable>
</div>
