<% provide(:title, "2つのデータを比較") %>
<div class="page-header">
  <h1><%= yield(:title) %></h1>
</div>

<div class="row">
  <!-- マップ領域 -->
  <div id="map" class="col-md-8"></div>
  <!-- 説明領域 -->
  <%= render 'compare_description' %>
</div>

<script src="/assets/compare.js"></script>
<script src="/assets/d3.min.js"></script>
