<% provide(:title, "2つのデータセットを比較") %>
<div class="page-header">
  <h1><%= yield(:title) %></h1>
</div>

<div class="row">
  <!-- マップ領域 -->
  <div id="map" class="col-md-8"></div>
  <!-- 説明領域 -->
  <%= render 'compare_description' %>
</div>

<%= javascript_include_tag 'd3.min' %>
<%= javascript_include_tag 'compare' %>
