<% provide(:title, @dataset.name) %>
<div class="page-header">
  <h1>視覚化: <%= yield(:title) %></h1>
</div>

<div id="horizontal-bars" style="width:960px;height:800px;"></div>
<br>
<br>
<div id="pie" style="width:960px;height:800px;"></div>
<script src="/assets/flotr2.min.js"></script>
<script src="/assets/draw-bars-pie-chart.js"></script>
