<footer class="footer" id="footer">
  <div class="container">
    <p class="text-muted">Developed by <a href="https://akokubo.github.io/">Atsushi Kokubo</a> for International Open Data Day in AOMORI 2016</p>
  </div>
</footer>
